@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 15%; /* Dark background */
    --foreground: 210 10% 95%; /* Light text */
    --card: 210 10% 20%; /* Card background */
    --card-foreground: 210 10% 95%; /* Card text color */
    --popover: 210 10% 20%; /* Popover background */
    --popover-foreground: 210 10% 95%; /* Popover text color */
    --primary: 210 10% 95%; /* Primary buttons/text */
    --primary-foreground: 210 10% 10%; /* Primary text color on buttons */
    --secondary: 210 10% 30%; /* Secondary elements */
    --secondary-foreground: 210 10% 95%; /* Secondary text color */
    --muted: 210 10% 25%; /* Muted text */
    --muted-foreground: 210 10% 70%; /* Muted text color */
    --accent: 210 10% 25%; /* Accent elements */
    --accent-foreground: 210 10% 95%; /* Accent text color */
    --destructive: 0 100% 50%; /* Destructive actions (red) */
    --destructive-foreground: 210 10% 95%; /* Destructive text color */
    --border: 210 10% 30%; /* Border color */
    --input: 210 10% 25%; /* Input background color */
    --ring: 210 10% 50%; /* Focus ring color */
  }
}

body {
    cursor: default;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.print-force-new-page {
  page-break-before: always;
}
