@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3 span.active {
  color: rgb(242,140,40);
  animation-name: flicker;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

h3 span.inactive {
  color: rgb(0, 163, 108);
  animation-name: flicker;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

a {
  text-decoration: none;
}

a:hover .hover\:underline {
  text-decoration: underline;
}

a:hover .active-text,
a:hover .inactive-text {
  opacity: 1;
}
